
.container{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 810px;
    overflow: hidden;
    background-color: aquamarine;
}
.graphic{
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 303px;
    background-image: url('../img/img-fondo.png');
}

.panel{
    position: absolute;
    width: 100%;
    height: 531px;
    left: 0px;
    top: 279px;
    background: #FFFFFF;
    border-radius: 30px 30px 0px 20px;
    box-shadow: 0px -16px 40px rgba(0, 0, 0, 0.2);
}

.city{
    position: absolute;
    width: 186px;
    height: 48px;
    right: 0px;
    margin-right: 0px;
    top: 0px;
    border-radius: 0px 30px 0px 30px;
    background-color: 	rgb(13, 159, 234 , 0.3)
}
.location{
    /* location */
    position: absolute;
    width: 172.99px;
    height: 19px;
    left: 5px;
    top: 15px;

    font-family: Barlow;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #0DA0EA;
}

.date{
    position: absolute;
    width: 119px;
    height: 34px;
    left: 41px;
    top: 15px;

    font-family: Barlow;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    text-align: center;

    color: #999999;
}

.today-row-01-main, .today-row-02, .today-row-03{
    width: 282px;    
    margin-left: -141px;
    left: 50%;

}
.today-row-01-main{
    position: absolute;
    height: 77px;
    top: 72px;
    /* background-color: cadetblue; */
}

.today-row-02{
    position: absolute;
    height: 69px;
    top: 189PX;
    /* background-color: cadetblue; */
}

.today-row-03{
    position: absolute;
    height: 69px;
    top: 298px;
    background-color: cadetblue;
}

.five-day-row-04{
    position: absolute;
    width: 287px;
    height: 101px;
    left: 19px;
    top: 291px;    
    background-color: cadetblue;
}
.temperature,.°c{
    font-family: Barlow;
    font-style: normal;
    font-weight: 500;
}
.temperature{
    position: absolute;
    width: 62px;
    height: 77px;
    margin-right: 0px;
    right: 45%;
    top: 0px;
    
    font-weight: 300;
    font-size: 64px;
    line-height: 77px;
    /* identical to box height */
    letter-spacing: -0.05em;
    color: #000000;
    text-align: right;
}

.°c{
    position: absolute;
    width: 24px;
    height: 29px;
    margin-left: 0px;
    left: 55%;
    top: 10px;

    font-family: Barlow;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    /* identical to box height */
    
    
    color: #666666;
}

.icono_estado{
    position: absolute;
    left: 0px;
    top: 0px;
    width: 50px;
    height: 50px;
    background-image: url("http://openweathermap.org/img/wn/10d@2x.png");
    background-size: contain;
    background-repeat: no-repeat;
}

.estado{
    position: absolute;
    left: 0px;
    top: 45px;
    width: 50px;
    height: 50px;

    font-family: Barlow;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    /* identical to box height */

    text-align: center;
    letter-spacing: -0.05em;

    color: #000000;
}

.main_temp_max, .main_temp_min{
    position: absolute;
    width: 32px;
    height: 19px;
    left: 225px;
    top: 15px;

    font-family: Barlow;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;

    color: #666666;
    /* background-color: chocolate; */
}

.main_temp_min{
    top: 45px;
}

.vector_max, .vector_min{
    position: absolute;
    width: 15px;
    height: 19px;
    left: 260px;
    top: 15px;
    background-image: url('../img/Vectormax.png');
    /* background-color: crimson; */
    background-size: contain;
    background-repeat: no-repeat;

 
}

.vector_min{
    top: 45px;
    background-image: url('../img/Vectormin.png');

}

.icon_humidity{
    position: absolute;
    left: 8px;
    top: 5px;
    width: 25px;
    height: 25px;
    background-image: url('../img/humidity.png');
    background-size: contain;
    background-repeat: no-repeat;
}

.humidity_data,.pressure_data{
    position: absolute;
    width: 30px;
    height: 19px;
    left: 10px;
    top: 35px;

    font-family: Barlow;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: -0.05em;
    color: #444444;
}

.humidity_text, .pressure_text{
    position: absolute;
    width: 30px;
    height: 19px;
    left: 5px;
    top: 55px;

    font-family: Barlow;
    font-style: normal;
    font-weight: 500;
    font-size: 8px;
    line-height: 10px;
    text-align: center;
    letter-spacing: 0.1em;
    color: #999999;
}

.icon_pressure {
    position: absolute;
    margin-left: -12.5px;
    left: 50%;
    top: 5px;
    width: 25px;
    height: 25px;
    background-image: url('../img/pressure.png');
    background-size: contain;
    background-repeat: no-repeat;
}

.pressure_data{
    position: absolute;
    width: 30px;
    margin-left: -15px;
    height: 19px;
    left: 45%;
    top: 35px;
    text-align: center;
}

.pressure_text{
    width: 30px;
    height: 19px;
    margin-left: -15px;
    left: 50%;
    top: 55px;
}